@import url('https://fonts.googleapis.com/css?family=Raleway');
​
html,h1,h2,h3,h4,h5,h6,a,button,dialog{
	font-family: "Raleway";
}

body {
	background-color: lightblue;
}

​
.navbar-nav {
	margin: auto;
}


.jumbotron {
	background-image: url("final-animation.gif");
	background-size: contain;
	background-attachment: fixed;
	margin-bottom: 40px; 
	text-align: center;
	padding-top: 50px;
    padding-bottom: 250px;

}

.shrinkbox {
	margin-left: 60px;
	margin-right: 30px;

}


.display-4 {
	color: orange;
	text-align: center;
	text-shadow: 2px 2px lightgrey;
}
.display-5 {
	color: orange;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px lightgrey;
}
​
#songs {
	height: 400px;
	margin: auto;
}
​
h2 {
	color: orange;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
​
​
.card-title{
	text-align: center;
}
​
#contactrow {
	height: 360px;
	margin-top: 30px;
}

​
​
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
​

.showbutton {
	color: lightyellow;
}



 .card {
 	text-align: center;
 	width: 25rem;
 }
​
#row1, #row2, #row3 {
	margin-top: 30px;
}

.lyrictext {
	background-color:#F4FFEF;
	border:1px dotted black;
	z-index: 1000;
}


.lyricscroll {
	width:400px;
	max-height: 200px;
	overflow: scroll;
}


#hello{
	margin-left: 50px;
}

.instruments{
	margin-top: 75px;
}


#contact {
	height: 320px;
	margin-left: 150px;
	margin-right: 120px;
	background-color: white;
	text-align: center;
}

.card-title{
	text-align: center;
}


.practicerow {
	height: 150px;
}



