<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninja</title>
    <style> .ex1 {background-color: pink} </style>
</head>
<body>
<div class="ex1">
    <h1>Exercise 1</h1>
    <ul>
        <li>Try to add a “dark mode” style to one of your sites.</li>
        <li>Try to implement an automatic dark mode activation between 20:00 and 08:00.</li>
    </ul>
</div>
<div class="ex2">
    <h1>Exercise 2</h1>
    <p>Add a name search page to your site, where the user can add a searched string in the URL (for example search/by-name/thermomix), and filter the results to display only the products that contain this name.</p>
</div>
</body>
</html>