body {
    padding-top: 20px;
}

#sidebar { background-color: lightgrey;
    border-size: 10px;
    border-color: grey;
    border-radius: 10px;
    padding: 25px;
    padding-left: 35px;
    padding-top: 40px;
    height: 280px; 
}

a {font-size: 13px}


blockquote {
/*border: 1px solid #b3b3b3;*/
border-left: 10px solid #b3b3b3;
border-radius: 0px;
/*background: #fafafa;*/
font-size: 17px;
margin: 10px;
padding: 10px 20px;
}

.table-bordered {

}

.image-fluid {
    max-width: 50%
}


p {
    font-size: 12px;
}

